body, html {
    height: 100%;
  }


.container {
    /* border: solid black 3px; */
    height: 100%;
    width: 100%;
    min-height: 50vh;
    min-width: 375px;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #0066FF, #7791b7);
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont {
    /* border: solid black 1px; */
    padding: 0.5rem;
    margin: 0;
}

.cont div{
    /* border: solid black 1px; */
    padding: 0.5rem 0.5rem;

}

.cont .header {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.cont .body{
    margin: 0.5rem 0;
    background-color: #7992bb;
}

.cont .body *{
    margin-bottom: 0.5rem;
}

.cont .body .text textarea{
    width: 100%;
    padding: 1rem;
}

.cont .body .text-input{
    padding: 0.5rem;
    /* border: solid black 3px; */
    margin-bottom: 0.5rem;
}

.cont .body .text-input input{
    width: 50%;
    padding: 0.5rem;
}

.cont .footer{
    margin: 0.5rem 0;
    
}

.cont .footer .legal{
    color: black;
    /* font-weight: 500; */
}

.cont .footer div{
    padding: 0.5rem;
}

.cont .footer .button button{
    padding: 0.5em;
    height: 3rem;
    width: 15rem;
    background-color: #0e9637;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    border: 0;
}

.cont .footer .button button:hover{
    background-color: #31864b;
    cursor: pointer;
}