.container{
    max-width: 2000px;
    font-family: 'Varela Round', sans-serif;
}

.cont{
    width: 100%;
    align-items: center;
    min-width: 300px;
}

/* Songslist (left) */

.list-left {
    padding: 1em;
    float: left;
    height: auto;
    width: 25%;
}

.colored-cont{
    background-color: #ff0000;
    border-collapse: collapse;
    padding: 2em;
    border-radius: 1em;
}

.heading{
    text-align: center;
    color: whitesmoke;
}

.colored-row{
    background-color: antiquewhite;
    color: black(255, 255, 255);
}

.colored-row:hover{
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
}

.button-colored{
    background-color: antiquewhite;
    color: black(255, 255, 255);
}

.button-colored:hover{
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
}

.footer >.left-button{
    margin: 0.5em auto ;
    float: left;
}

.footer >.center-button{
    margin: 0.5em auto ;
    display: inline-block;
}

.footer >.right-button{
    margin: 0.5em auto ;
    float: right;
}

/* ***************************************************** */

/* WatchList */

.main-content {
    padding: 1em;
    margin-left: 1em;
    display: inline-block;
    height: auto;
    width: 73%; 
} 


.colored-cont-main {
    background-color: #ff0000;
    border-collapse: collapse;
    padding: 2em;
    border-radius: 1em;
}

.colored-row-main{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    width: 75%;
    align-items: center;
    justify-content: center;
} 





/* .universal-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */









