<div class="container my-5">
  <div class="cont">
    <div class="content-details">
      <div class="heading">
          <h1>Songsheet</h1>
      </div>
        <form [formGroup]="addForm">
            <div class="input-group input-text mb-3 text-input" style="width:100%">
              <span class="input-group-text label-span" id="basic-addon1">Singer</span>
              <input class="form-control" formControlName="songTitle" type="text" placeholder="Default input" aria-label="default input example">
            </div>
            <div class="input-group input-text mb-3" style="width:100%">
              <span class="input-group-text label-span" id="basic-addon1">Title</span>
              <input class="form-control" formControlName="singer" type="text" placeholder="Default input" aria-label="default input example">
            </div>
            <div class="input-group input-text mb-3" style="width:100%">
              <span class="input-group-text label-span" id="basic-addon1">Key</span>
              <input class="form-control" formControlName="keySignature" type="text" placeholder="Default input" aria-label="default input example">
            </div>
            <div class="input-group input-text-area mb-3" style="width:100%">
              <textarea class="form-control" formControlName="contents" aria-label="With textarea"></textarea>
            </div>
            <div class="footer">
              <button *ngIf="editMode" pButton pRipple icon="pi pi-check" class="btn button-colored button-left" type="submit" (click)="updateSheet()">Save</button>
              <button *ngIf="!editMode" pButton pRipple icon="pi pi-times" class="btn button-colored  button-left" type="button" (click)="edit()" >Edit</button>
              <button *ngIf="editMode" class="btn button-colored  button-left" type="button"(click)="cancelEdit()" >Cancel</button>
              <button *ngIf="!editMode" class="btn button-colored  button-left" type="button" (click)="backToListPage()" >Back</button>
              <button *ngIf="editMode" pButton pRipple icon="pi pi-trash" class="btn button-colored button-left" type="button" (click)="deleteSongSheet()" >Delete</button>
            </div>
        </form>
    </div>
  </div>
</div>