
<app-nav></app-nav>

<div class="container">
  <div class="cont">
      <div class="header">
          <p>Songsheet <i class='bx bxs-music'></i></p>
      </div>
      <form class="body" [formGroup]="addForm">
        <div class="details">
          <div class="input-group input-text mb-0" style="width:100%">
            <span class="input-group-text label-span" id="basic-addon1">Title</span>
            <input class="form-control" formControlName="songTitle" type="text" placeholder="Title of the song" aria-label="default input example">
          </div>
          <div class="input-group input-text mb-0 text-input" style="width:100%">
            <span class="input-group-text label-span" id="basic-addon1">Singer</span>
            <input class="form-control" formControlName="singer" type="text" placeholder="Name of singer or band" aria-label="default input example">
          </div>
          <div class="input-group input-text mb-0" style="width:100%">
            <span class="input-group-text label-span" id="basic-addon1">Key</span>
            <!-- <input class="form-control" formControlName="keySignature" type="text" placeholder="C, C#, Gm ..." aria-label="default input example"> -->
            <select  type="number" class="form-select" id="keySignature" name="keySignature" formControlName="keySignature" >
              <option *ngFor="let key of keysOptions" value={{key.value}}>{{key.label}}</option>
          </select>
          </div>
          <div class="input-group input-text mb-0" style="width:100%">
            <span class="input-group-text label-span" id="basic-addon1">Genre</span>
            <!-- <input class="form-control" formControlName="keySignature" type="text" placeholder="C, C#, Gm ..." aria-label="default input example"> -->
            <select  type="number" class="form-select" id="genre" name="genre" formControlName="genre" >
              <option *ngFor="let genre of genreOptions" value={{genre.value}}>{{genre.label}}</option>
          </select>
          
          </div>
        </div>
        <div class="content">
          <div class="input-group input-text-area mb-0" style="width:100%">
            <textarea placeholder="Paste chords, lyrics , tabs etc" class="form-control" formControlName="contents" aria-label="With textarea"></textarea>
          </div>
        </div>
      </form>
      <div class="footer">
          <div class="btn-left">
              <button *ngIf="isViewMode"  type="button" (click)="edit()" ><span>Edit</span><i class='bx bx-edit-alt'></i></button>
              <button *ngIf="!isViewMode" type="button" (click)="save()"  ><span>Save</span><i class='bx bxs-save' ></i></button>
          </div>
          <div class="btn-right">
              <button *ngIf="isViewMode" type="button" (click)="backToListPage()"><span>Close</span><i class='bx bx-window-close' ></i></button>
              <button *ngIf="!isViewMode" type="button" (click)="backToListPage()" ><span>Cancel</span><i class='bx bx-window-close' ></i></button>
              <button id="delete" *ngIf="!isViewMode && !addMode" type="button" (click)="deleteSongSheet()" ><span>Delete</span><i class='bx bx-trash' ></i></button>
          </div>
      </div>
  </div>
</div>

