<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link rel="stylesheet" href="../css/login.css"> -->

    <!-- BoxIcons v2.1.2 -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <!-- Varela Round -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<div class="container my-5">
  <div class="cont">
    <div class="list-left colored-cont">
      <h1 class="heading">Songs</h1>
      <div class="list-group w-auto universal-font" *ngFor="let sheet of sheets">
        <div  id="row" (click)="viewSongSheetDetails(sheet.id)" href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-1 colored-row" aria-current="true">
          <!-- <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"> -->
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <p class="mb-0">{{sheet.singer}}</p>
              <p class="mb-0">by: {{sheet.songTitle}}</p>
            </div>
            <small class="opacity-100 text-nowrap">
              <i class="bx bxs-music"></i></small>
          </div>
        </div>
      </div>
      <div class="footer">
        <button *ngIf="hasPrevPage"  pButton pRipple icon="pi pi-check" id="left" 
                class="btn button-colored paging-button" type="button" (click)="showPrevPage()"><span>
                <i class='bx bxs-left-arrow' ></i>Previous page</span>
        </button>
        <button *ngIf="needMorePage" pButton pRipple icon="pi pi-check" id="right" 
                class="btn button-colored  paging-button" type="button" (click)="showNextPage()">Next page<span>
                <i class='bx bxs-right-arrow' ></i></span></button>
        <button pButton pRipple icon="pi pi-check" class="btn button-colored" type="button" (click)="addSongSheet()"><span>New Songsheet? Click Me</span></button>
      </div>
    </div>
    
    <div class="main-content colored-cont-main">
      <h1 class="heading">Watchlists</h1>
      <div class="list-group w-auto universal-font">
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-1 colored-row-main"> 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/6cuoH5M8U9Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          <a href="">Learn this song (chords and tabs)</a>
          <!-- <a href="https://www.youtube.com/channel/UC5KnM1tJ8WrAtWQn6CuWsJg/featured">Visit channel</a> -->
        </div>
        <div class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-1 colored-row-main"> 
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oXfNViGuojw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          
          <a href="">Learn this song (chords and tabs)</a>
        </div>
      </div>
      
    </div>
  </div>
  
  
</div>
