<app-nav></app-nav>

<div class="container">
    <div class="cont">
        <div class="header">
            <p>Songlist <i class='bx bxs-music'></i></p>
        </div>
        <div class="body">
            <div (click)="viewSongSheetDetails(sheet.id)" class="sheet" *ngFor="let sheet of this.sheets">
                <div class="title">
                    <p>{{sheet.songTitle}}</p>
                </div>
                <div class="singer">
                    <p>By: {{sheet.singer}}</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="paging">
                <div class="left">
                    <button (click)="showPrevPage()" *ngIf="hasPrevPage"><i class='bx bxs-skip-previous-circle' ></i><span>Previous Page</span></button>
                </div>
                <div class="right">
                    <button (click)="showNextPage()" *ngIf="needMorePage"><span>Next Page</span><i class='bx bxs-skip-next-circle' ></i></button>
                </div>
            </div>
            <div class="add-new">
                <button (click)="addSongSheet()"><span>Add New sheet</span><i class='bx bx-list-plus' ></i></button>
            </div>
        </div>
    </div>
</div>