<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- <link rel="stylesheet" href="../css/login.css"> -->

    <!-- BoxIcons v2.1.2 -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <!-- Varela Round -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-box">
        <h2>Welcome back</h2>
        <p>Enter your details</p>
      <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
        <div>
          <div class="form-group">
              <label for="userName">
                  Username
              </label>
              <i class="bx bxs-user"></i>
              <input 
              formControlName="userName"
              type="userName"
              id="userName"
              placeholder="Your username"
              required
              >
          </div>
        </div>
        <div>
          <div class="form-group">
              <label for="password">
                  Password
              </label>
              <i class="bx bxs-lock"></i>
              <input 
              formControlName="password"
              type="password"
              id="password"
              placeholder="Your password"
              required
              >
          </div>

          <a class="forgot">
              Forgot your password?
          </a>
          <input type="submit" value="Log In">
        </div>
      </form>
        
    </div>
</body>
</html>