

<!-- Self made navbar
<div class="container my-5">
  <nav class="navbar navbar-expand-md fixed-top navbar-theme navbar-dark" style="padding: 0;">
    <div class="cont">
      <div class="nav-list">
        <div class="brand">
          <p>LearnMUSIC</p>
        </div>
        <div class="items">
          <div>
            <p><a href="" class="nav-link active"  routerLink='' routerLinkActive="active">Home</a></p>
          </div>
          <div>
            <p><a href="" class="nav-link active" *ngIf="loggedOut"  routerLink='/chords' routerLinkActive="active">Your Chart</a></p>
          </div>
          <div>
            <p><a href="" class="nav-link active" *ngIf="loggedOut" (click)="signOut()"  routerLink='' routerLinkActive="active">Log Out</a></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div> -->

<div class="container">
  <nav class="navbar navbar-expand-md fixed-top navbar-theme navbar-dark">
    <div class="container">
        <a class="navbar-brand" routerLink='' routerLinkActive="active">LearnMUSIC</a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#toggleDropdown" 
        aria-controls="toggleDropdown" 
        aria-expanded="false" >
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="toggleDropdown">
              <ul class="navbar-nav me-auto mb-2 mb-md-0" >
                <li class="nav-item">
                  <a class="nav-link active"  routerLink='' routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" *ngIf="loggedOut" routerLink='/chords' routerLinkActive="active">Your Chart</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" *ngIf="loggedOut" (click)="signOut()" routerLink='' routerLinkActive="active">Log Out</a>
                </li> -->
                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                  <ul class="dropdown-menu"  style="background-color: blue;">
                    <li><a class="dropdown-item" routerLinkActive="active" href="">Edit Profile</a></li>
                    <li><a class="dropdown-item" *ngIf="loggedOut" (click)="signOut()" href="#">Log Out</a></li>
                  </ul>

                  
                <li class="nav-item">
                  <a class="nav-link active" *ngIf="loggedOut" routerLink='' routerLinkActive="active">Admin</a>
                </li>
              </ul>
            </div>
          </div>
    </div>
  </nav>
</div>