
.container{
    display: grid;
}

.container div{
    max-width: 430px;
}

@media (min-width: 995px) {
    .container{
        display: flex;
        flex-direction: row;
        flex: wrap;
        gap: 1rem;
    }
}

