.container{
    border-radius: 20px;
    padding: 0.5em;
    background-color: red;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.cont{
    color: whitesmoke;
    width: 80%;
    align-items: center;
    min-width: 300px;
}

.heading{
    margin-bottom: 2em;
}

.label-span{
    width: 80px;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}



.button-colored{
    background-color: antiquewhite;
    color: black(255, 255, 255);
}

.button-colored:hover{
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
}


.container-details{
    width: 100%;
}
/* 
.cont{
    background-color: #4a4a4a;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    padding: 2em;
    border-radius: 1em;
} */

.heading{
    text-align: center;
    color: whitesmoke;
}

.content-details {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    /* margin: 10px; */
    border-radius: 500px;
}



.input-text{
    border-collapse: collapse;
    text-align: center;
    width: 30%;
}

.input-text-area{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 50%;
    height: 500px;
}



.button-left{
    float: left;
}

.button-x{
    float: left;
    margin-left: 10%;
}