<app-nav></app-nav>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">"One good thing about music, when it hits you, you will feel no pain."</h1>
          <p class="sub-lead">
            -Anonymous
          </p><p class="lead">
            Feel free to use this website to enjoy, explore and learn music.
            Yes, you can enjoy music while learning it. You can search new songs and their tabs/chords and save it directly on the gallery.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button (click)="goToFeedBackPage()" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Contact Us</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Register</button>
          </div>
        </div>
        <div class="col-lg-4 p-0 overflow-hidden shadow-lg higher">
            <img class="rounded-lg-3" src="assets/images/kid.png" width="720">
        </div>
      </div>
</div>