*{
    font-size: 1rem !important;
    font-family: 'Varela Round', sans-serif !important;
    color: white;
}

.container {
    /* border: solid rgb(0, 0, 0) 3px; */
    /* background-color: #0066FF; */
    margin-top: 60px;
}
.row {
    padding: 2rem;
}


#fb {
    background-color: #2239d0;
    transition: 0.5s;
}

#fb:hover {
    background-color: #000e67;
    cursor: pointer;
}

#signIn {
    background-color: #2239d0;
    transition: 0.5s;

}

#signIn:hover {
    background-color: #000e67;

}

#signUp {
    background-color: #26c000;
    transition: 0.5s;

}

#signUp:hover {
    background-color: #219006;

}

@media (max-width:800px) {
    .container {
        width: 95%;
    }
    .row {
        padding: 1rem;
    }
}