*{
    font-size: 1rem !important;
    font-family: 'Varela Round', sans-serif !important;
}

.container {
    /* border: solid rgb(0, 0, 0) 3px; */
    margin-top: 60px;
}
.row {
    padding: 2rem;
}
/* btn-theme {
    color: whitesmoke;
    background-color: #3500D3;
}

.sub-lead {
    text-align: right;
    font-style: italic;
}

.higher {
    margin-bottom: 50px;
} */