<app-nav></app-nav>

<div class="container">
    <div class="row align-items-center rounded-3 shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">"One good thing about music, when it hits you, you will feel no pain."</h1>
          <p class="sub-lead">
            -Anonymous
          </p>
          <p class="lead">
            LearnMUSIC - Feel free to use this website to enjoy, explore and learn music.
            Yes, you can enjoy music while learning it. You can search new songs and their tabs/chords and save it directly on the gallery.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 sign ">
            <button id="fb" *ngIf="loggedIn" (click)="goToFeedBackPage()" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Contact Us</button>
            <button id="signIn" *ngIf="!loggedIn" (click)="goToLoginPage()" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Login</button>
            <button id="signUp" *ngIf="!loggedIn" (click)="goToRegisterPage()" type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Create Account</button>
          </div>
        </div>
        <div class="col-lg-4 p-0 overflow-hidden shadow-lg higher">
            <img class="rounded-lg-3" src="assets/images/kid.png" width="720">
        </div>
      </div>
</div>